@@ -1,3 +1,22 @@

 # Created by https://www.gitignore.io/api/git,lua,svn,macos,visualstudiocode

 ### Git ###
 # Created by git for backups. To disable backups in Git:
 # $ git config --global mergetool.keepBackup false
 *.orig

 # Created by git when using merge tools for conflicts
 *.BACKUP.*
 *.BASE.*
 *.LOCAL.*
 *.REMOTE.*
 *_BACKUP_*.txt
 *_BASE_*.txt
 *_LOCAL_*.txt
 *_REMOTE_*.txt

 ### Lua ###
 # Compiled Lua sources
 luac.out

 @@ -39,3 +58,44 @@ luac.out
 *.x86_64
 *.hex


 ### macOS ###
 # General
 .DS_Store
 .AppleDouble
 .LSOverride

 # Icon must end with two \r
 Icon

 # Thumbnails
 ._*

 # Files that might appear in the root of a volume
 .DocumentRevisions-V100
 .fseventsd
 .Spotlight-V100
 .TemporaryItems
 .Trashes
 .VolumeIcon.icns
 .com.apple.timemachine.donotpresent

 # Directories potentially created on remote AFP share
 .AppleDB
 .AppleDesktop
 Network Trash Folder
 Temporary Items
 .apdisk

 ### SVN ###
 .svn/

 ### VisualStudioCode ###
 .vscode/*
 !.vscode/settings.json
 !.vscode/tasks.json
 !.vscode/launch.json
 !.vscode/extensions.json


 # End of https://www.gitignore.io/api/git,lua,svn,macos,visualstudiocode 